@font-face {
  font-family: 'AdihausDIN-Regular';
  src: url('../../fonts/adihaus/eot/AdihausDIN-Regular.eot');
  src: url('../../fonts/adihaus/woff/AdihausDIN-Regular.woff') format('woff');
}

@font-face {
  font-family: 'AdihausDIN-CondBold';
  src: url('../../fonts/adihaus/eot/AdihausDIN-CondBold.eot');
  src: url('../../fonts/adihaus/woff/AdihausDIN-CondBold.woff') format('woff');
}

@font-face {
  font-family: 'AdihausDIN-Bold';
  src: url('../../fonts/adihaus/eot/AdihausDIN-Bold.eot');
  src: url('../../fonts/adihaus/woff/AdihausDIN-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Adineue-Bold';
  src: url('../../fonts/adineue/eot/adi13wf-b.eot');
  src: url('../../fonts/adineue/woff/adi13wf-b.woff') format('woff');
}

@font-face {
  font-family: 'Adineue-Regular';
  src: url('../../fonts/adineue/eot/adi13wf-r.eot');
  src: url('../../fonts/adineue/woff/adi13wf-r.woff') format('woff');
}